body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #252526;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.example {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    color: #4ec9b0;
}

pre {
    border-radius: 8px;
    overflow-y: auto;   /* verticale scroll */
    overflow-x: auto;   /* horizontale scroll */
    max-height: 300px;  /* maximale hoogte */
    padding: 10px;
    background-color: #2d2d2d;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #252526;
    color: #aaa;
}

